<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8" />
  <title th:text="'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
  <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{../css/jquery-ui.min.css}" />
</head>

<body>
<div class="container py-4">

  <div class="card bg-light">
    <div class="card-header" th:text="${titulo}"></div>
    <div class="card-body">



    </div>

</div>
</body>
</html>